<meta charset="UTF-8">
<title>Chat.JS</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link href="/public/assets/styles.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/svg" href="../../public/assets/chat.svg"/>