<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../public/assets/chat.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            <b>Chat.JS</b> v1.3.2
        </a>
        <% if (session.logged_in == true) { %>
            <form class="d-flex" action="logout" method="POST">
                <div class="row g-3">
                    <span class="col-auto navbar-text">
                        Logged in as <b><%= session.username %></b>
                    </span>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-danger">Logout</button>
                    </div>
                </div>
            </form>
        <% } else { %>
            <form class="d-flex" action="auth" method="POST">
                <div class="row g-3">
                    <div class="col-auto">
                        <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" required>
                    </div>
                    <div class="col-auto">
                        <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" required>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="col-auto">
                        <a href="/register" class="btn btn-outline-primary">Register</a>
                    </div>
                </div>
            </form>
        <% } %>
    </div>
</nav>